.gameContainer {
    width: 100%;
    height: 300px;
    background-color: #f7f7f7;
    border-bottom: 2px solid #535353;
    position: relative;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.ground {
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 2px;
    background-color: #535353;
    animation: moveGround 2s linear infinite;
}

@keyframes moveGround {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.dino {
    position: absolute;
    bottom: 2px;
    left: 50px;
    width: 44px;
    height: 48px;
    background-color: #535353;
    /* Temporary: Solid color dino */
    transition: bottom 0.1s ease-out;
}

/* Later, replace .dino with webp background */
/* 
.dino {
    background-image: url('/contents/games/dino-run/images/dino-idle.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
*/

.cactus {
    position: absolute;
    bottom: 2px;
    width: 25px;
    height: 50px;
    background-color: #535353;
    /* Temporary: Solid color cactus */
}

.scoreUI {
    position: absolute;
    top: 10px;
    right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #535353;
    font-weight: bold;
}

.gameStartPrompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #535353;
}

.jumpEffect {
    animation: jump 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes jump {
    0% {
        bottom: 2px;
    }

    50% {
        bottom: 120px;
    }

    100% {
        bottom: 2px;
    }
}