.gameContainer {
    width: 100%;
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
    background-color: #fca5a5;
    background-image: url('https://ngpkpjqdwffgxocrakae.supabase.co/storage/v1/object/public/quiz-images/games/sprites/box-tower/bg.webp?v=1769939350053');
    background-size: cover;
    position: relative;
    overflow: hidden;
    border: 4px solid #b91c1c;
    border-radius: 8px;
}

.box {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('https://ngpkpjqdwffgxocrakae.supabase.co/storage/v1/object/public/quiz-images/games/sprites/box-tower/box.webp?v=1769939350053');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
}

.crane {
    position: absolute;
    top: 0;
    width: 2px;
    background-color: #444;
    transform-origin: top center;
    z-index: 10;
}

.ui {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: #451a03;
    font-weight: bold;
    font-size: 24px;
    pointer-events: none;
    z-index: 20;
}

.ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #451a03;
}