.gameContainer {
    width: 100%;
    max-width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #3f6212;
    background-image: url('https://ngpkpjqdwffgxocrakae.supabase.co/storage/v1/object/public/quiz-images/games/sprites/traffic-control/intersection.webp?v=1769939350064');
    background-size: cover;
    /* Grass */
    position: relative;
    overflow: hidden;
    border: 4px solid #1e293b;
    border-radius: 12px;
}

.roadHorizontal,
.roadVertical {
    display: none;
    /* Already in background image */
}

.car {
    position: absolute;
    width: 40px;
    height: 70px;
    background-image: url('https://ngpkpjqdwffgxocrakae.supabase.co/storage/v1/object/public/quiz-images/games/sprites/traffic-control/car_red.webp?v=1769939350064');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
}

.carBlue {
    background-image: url('https://ngpkpjqdwffgxocrakae.supabase.co/storage/v1/object/public/quiz-images/games/sprites/traffic-control/car_blue.webp?v=1769939350064');
}


.car.stopped {
    filter: brightness(0.5);
    border: 2px solid #ef4444;
}

.ui {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    z-index: 30;
    pointer-events: none;
}