.header {
    width: 100%;
    background: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
    /*border-bottom: 1px solid #eeeeee;*/
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 800px;
    /* Match home container max-width */
    padding: 0.0rem 1rem;
    display: flex;
    align-items: center;
}

.logoLink {
    text-decoration: none;
    display: inline-block;
}

.logo {
    height: 50px;
    margin-left: -30px;
    transform: scale(1.8);
    transform-origin: left;
    width: auto;
    display: block;
    transition: opacity 0.2s ease;
}

.logo:hover {
    opacity: 0.8;
}