.gameContainer {
    width: 100%;
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
    background-color: #1e1b4b;
    background-image: url('https://ngpkpjqdwffgxocrakae.supabase.co/storage/v1/object/public/quiz-images/games/sprites/bubble-shooter/bg.webp?v=1769870020112');
    background-size: cover;
    position: relative;
    overflow: hidden;
    border: 4px solid #312e81;
    border-radius: 12px;
}

.bubble {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.launcher {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 80px;
    height: 80px;
    background-image: url('https://ngpkpjqdwffgxocrakae.supabase.co/storage/v1/object/public/quiz-images/games/sprites/bubble-shooter/shooter.webp?v=1769870019912');
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: center 70%;
    z-index: 10;
}

.readyBubble {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 15px);
    z-index: 11;
}

.firedBubble {
    position: absolute;
    z-index: 5;
}

.scoreUI {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-weight: bold;
    z-index: 20;
}

/* Colors */
.red {
    background-image: url('https://ngpkpjqdwffgxocrakae.supabase.co/storage/v1/object/public/quiz-images/games/sprites/bubble-shooter/bubble_red.webp?v=1769870019282');
}

.blue {
    background-image: url('https://ngpkpjqdwffgxocrakae.supabase.co/storage/v1/object/public/quiz-images/games/sprites/bubble-shooter/bubble_blue.webp?v=1769870019512');
}

.green {
    background-image: url('https://ngpkpjqdwffgxocrakae.supabase.co/storage/v1/object/public/quiz-images/games/sprites/bubble-shooter/bubble_green.webp?v=1769870019712');
}

.yellow {
    background-color: #eab308;
}

.purple {
    background-color: #a855f7;
}